* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    background-image: url(/img/desk1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    /*max-width: 1200px;*/
    display: flex;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
}

.deck-list {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.sum {
    margin-left: 50px;

}

.tittle-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    color: #F9FF0D;
}

.tittle-card img {
    justify-content: center;
    margin: 12px;
}

.card-pick {
    display: flex;
    width: 310px;
}
.card-pick img{
    position: relative;
}
.deck-counter{
    position: absolute;
    font-family: 'Roboto Slab', serif;
    left: 49.8%;
    color: black;
    font-size: 30px;
}

img {
    width: 45px;
    height: 70px;
}

.deck-list li {
    list-style-type: none;
    margin: 12px;
}

.wrap {
    display: grid;
    width: 600px;
    height: 510px;
    background-image:  url("/img/proba.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 20px 0px 20px;
    box-shadow: 0px 0px 20px 5px #ffc107;
    border: solid #ffc10778 10px;

}


.button-home {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.massage a {
    margin-left: 31px;
}

.deck-list img {
    margin-left: 28px;
}
.home{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.button-stop{
display: flex;
    justify-content: center;
    align-items: center;
}
.button-stop a{
    font-size: 28px;
}
h1{
    display: flex;
    justify-content: center;
    height: 20px;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: #F9FF0D;
}


/*
font-family: 'Fraunces', serif;
font-family: 'Roboto Slab', serif;*/
